{% extends "layout.html" %}
{% block content %}
  <h1>Welcome to Utopia Airlines!</h1><br>
  <h4>Available Modules:</h4><br>
  <a class="article-title" href="/airports"> > Airports Manager</a><br>
  <a class="article-title" href="/routes"> > Routes Manager</a><br>
  <a class="article-title" href="/airplane_types"> > Airplane Type Manager</a><br>
  <a class="article-title" href="/airplanes"> > Airplane Manager</a><br>
  <a class="article-title" href="/flights"> > Flight Manager</a><br>
{% endblock content %}
