{% extends "layout.html" %}
{% block content %}
  <h1>Update Route Name</h1><br>
  <form action = "/routes/{{route.id}}/edit" method = "POST">

    <label for="select_origin">Origin Airport: </label>
    <select name="origin" id="select_origin" required>
      {% for origin in airports %}
      <option value="{{origin.id}}">[{{origin.id}}] {{origin.city}}</option>
      {% endfor %}
    </select>
    <br>

    <label for="select_destination_create">Destination Airport: </label>
    <select name="destination" id="select_destination_create" required>
      {% for destination in airports %}
      <option value="{{destination.id}}">[{{destination.id}}] {{destination.city}}</option>
      {% endfor %}
    </select>
    <br><br>

    <input type = "submit" value = "submit" />

  </form>
{% endblock content %}
