{% extends "layout.html" %}
{% block content %}
  <h2>List of Airplane Types</h2><br>
  <table class="table-fitting">
    {% for airplane_type in airplane_types %}
    <tr><td>
      <div class="media-body">
        <a class="article-title" href="/airplane_types/{{airplane_type.id}}">
          ID: {{ airplane_type.id }} ({{ airplane_type.maxCapacity }} seats)</a>
      </div>
    </td></tr>
    {% endfor %}
  </table>
  <br><form action="/airplane_types/new" method="GET">
    <input type = "submit" value = "Create New"/>
  </form>
  <br><form action="/home" method="GET">
    <input type="submit" value="Back"/>
  </form>
{% endblock content %}
